/* #region debug */


.debug .m_left,
.debug .m_right {
    height: 3rem;
    width: 40%;
}

.debug [class^="col_"],
.debug .box_12 {
    height: 150px;
    border: 1px solid black;
}


.debug .start,
.debug .about_as [class^="col_"] {
    height: auto;
    border: 1px solid black;
}


/* #endregion debug */

/* #region utility */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'PT Sans', sans-serif;
}

.d-flex {
    display: flex;
}

.container {
    width: 80%;
    max-width: 1152px;
    margin: auto;
}

:root {

    --primary-: rgba(151, 146, 228, 1);
    --white-: rgba(255, 255, 255, 1);
    --secondary-: rgba(0, 132, 253, 1);
    --black_footer-: rgba(51, 51, 51, 1);
    --lightblu-: #b5ddff;
    --lightpurple-: #d2d0f3;
    --free-: #fdc15f;

}

.benefits,
.plan,
.start {
    background-color: var(--primary-);
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.pb-2 {
    padding: 2rem 0;
}

section {
    padding: 3rem 0;
}

img {
    max-width: 100%;
}

.btn {
    background-color: var(--white-);
    color: var(--primary-);
    border-radius: 3rem;
    padding: 0.5rem 1rem;
    border: none;
    text-decoration: none;
}

.demo .card h2 {
    font-size: 1.5rem;
    padding: 1rem 0;
    color: var(--secondary-);
}

.card p {
    padding: 1rem 0 2rem;
    line-height: 1.8;
}

[class^="col_"] {
    padding: 1rem;
}

/* #endregion utility */


/* #region header */
#app_header {
    background-color: var(--secondary-);
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 5;
}

#app_header .d-flex {
    justify-content: space-between;
}

.m_left,
.m_right {
    display: flex;
    align-items: center;
}

.md.sd {
    display: flex;
    align-items: center;
}

.fa-bars {
    font-size: 2rem;
    filter: invert(1);
}

ul li {
    list-style: none;
    display: inline-block;
    padding: 0.5rem;
    line-height: 40px;
}

.menu {
    display: none;
}

.menu {
    transition: 3s linear;
}

.fa-solid:hover .menu {
    display: flex;
}


/* #endregion header */

/* #region main */
#app_main {
    margin-top: 50px;
}

.col_12 {
    width: calc(100% /12 * 12);
}

.demo .card {
    background-color: var(--lightblu-);
    border-radius: 2rem;
    text-align: center;
    padding: 2rem 2rem 0 2rem;
}

.card {
    height: 100%;
}

.app a {
    padding: 0.5rem 3rem;
    background-color: var(--secondary-);
    text-decoration: none;
    color: var(--white-);
    font-size: 1.5rem;
}

.demo .row {
    margin: 0 -2rem 2rem -2rem;
}

.text {
    margin-bottom: 2rem;
}

.pic {
    display: flex;
}

.demo .fa-solid {
    color: var(--secondary-);
    font-size: 6rem;
}

/* enddemo */
.plan h2 {
    font-size: 2.5rem;
}

.plan h2:first-child {
    color: var(--white-);
}

.plan .card {
    background-color: var(--white-);
    text-align: center;
    border-radius: 2rem;
    padding: 2rem;
    line-height: 1.8;
}

.plan a {
    border-radius: 50%;
    color: var(--black_footer-);
    padding: 1rem;
    background-color: var(--primary-);
}

/* endplan */

.box_12 {
    width: calc(100% /12 * 12);
}

.testimonials .card {
    background-color: var(--primary-);
    border-radius: 2rem;
    margin: 1rem 0;
    padding: 1rem;
    text-align: center;
    align-items: center;
    flex-direction: column;
}
.w40 {
    width: 40%;
    max-width: 200px;
}
.circle_img{
    display: inline-block;
    position: relative;
    width: 100%;
    aspect-ratio: 1;
    overflow: hidden;
    border-radius: 50%;
}

.testimonials img {
    width: auto;
    height: 100%;
    margin-left: -25%;
    max-width: none;
}

.title {
    text-align: center;

}

.testimonials span {
    padding: 1rem 2rem;
    font-size: 1rem;
}

.title p{
    padding: 1rem 2rem;
    color: var(--black_footer-);
}

.testimonial p {
    padding: 1rem 2rem;
    color: var(--white-);
}

.testimonials h2 {
    color: var(--primary-);
    font-size: 2.5rem;
    margin: 1rem 0;
}

/* endtestimonials */
.benefits h2 {
    color: var(--white-);
    text-align: center;
    font-size: 2.5rem;
}
.benefits .card {
    background-color: var(--white-);
    padding: 2rem 2rem;
    border-radius: 2rem;
}

.benefits span, .benefits h3 {
    color: var(--primary-);
}

.benefits span{
    font-size: 5rem;
}
.benefits .btn {
    background-color: var(--primary-);
    color: var(--white-);
    padding: 0.5rem 2rem;
}

.benefits p {
    margin-bottom: 2rem;
}
.img_benefits {
    position: relative;
}

/* endbenefits */

.about_as img {
    width: 50%;
    border-radius: 50%;
}

.about_as h2 {
    color: var(--primary-);
    margin: 2rem 0;
    font-size: 2.5rem;
}

.about_as p {
    margin: 2rem 0;
    color: var(--primary-);
}

.about_as .btn {
    background-color: var(--primary-);
    color: var(--white-);
}

.about_as .fa-quote-left {
    color: var(--primary-);
    position: absolute;
    font-size: 4rem;
    top: -5%;
    left: 37%;
    }
.about_as .fa-linkedin-in {
    background-color: var(--white-);
    color: var(--primary-);
    margin-right: 0.5rem;
    padding: 0 0.2rem;
}
/* endabout_as */

.start {
    text-align: center;
}

.btn_started {
    padding: 1rem 3rem;
}

.start h3 {
    font-size: 2.5rem;
}

.start h5 {
    font-size: 1.5rem;
    color: var(--lightpurple-);
}

.start {
    color: var(--white-);
}

.copy li {
    display: inline-block;
    color: var(--white-);
    padding: 2rem;
}


.start h2 {
    font-size: 3rem;
    color: var(--free-);
}

.start a {
    text-decoration: none;
}
.fa-circle {
    font-size: 0.3rem;
    text-align: center;
}
/* endstart */

/* #endregion main */


/* #region footer */
#app_footer {
    background-color: var(--black_footer-);
}

#app_footer p {
    text-align: center;
    padding: 2rem;
    color: white;
}


/* #endregion footer */



@media screen and (min-width:768px) and (max-width:1167px) {
    .col_md_8 {
        width: calc(100% / 12 * 8);
    }

    .col_md_4 {
        width: calc(100% / 12 * 4);
    }

    .col_md_6 {
        width: calc(100% / 12 * 6);
    }

    #app_footer .container {
        min-width: 50%;
    }

    .card.app {
        text-align: left;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        flex-wrap: wrap;
    }

    .app img {
        width: 50%;
    }

    .testimonials .card {
        align-items: center;
        display: flex;
        flex-direction: row;
    }

    .text_testimonial {
        text-align: left;
    }
    .testimonials h2 {
        font-size: 3rem;
    }
    .plan h2 {
        font-size: 3rem;
    }
    .about_as h2 {
        font-size: 3rem;
    }
}

@media screen and (min-width:1168px) {
    .container {
        width: 80%;
        max-width: 1152px;
        margin: auto;
    }

    .col_lg_8 {
        width: calc(100% / 12 * 8);
    }

    .col_lg_6 {
        width: calc(100% / 12 * 6);
    }

    .col_lg_4 {
        width: calc(100% / 12 * 4);
    }

    .fa-bars {
        display: none;
    }

    .menu {
        display: flex;
    }

    .card.app {
        display: flex;
    }

    .plan .card img {
        width: 50%;
    }

    .plan .card {
        height: auto;
    }

    .plan .row {
        align-items: flex-end;
    }

    .plan p {
        line-height: 1.8;
    }

    .testimonials .card {
        align-items: center;
        display: flex;
        flex-direction: row;
    }

    .text_testimonial {
        text-align: left;
    }

    .testimonials h2 {
        font-size: 3rem;
    }

    .demo .card h2 {
        font-size: 1.5rem;
    }

    .plan h2 {
        font-size: 3rem;
    }

    .about_as h2 {
        font-size: 3rem;
    }

}